target/*
out/*

*.out
*.bin
*.img
*.vfd
*.com
os/dir/boot
os/dos/hello
os/dos/video
os/intel/Image
os/test/fork
os/test/alarm
os/primer/test
os/linux/boot
os/intel/hello
os/linux/hello
os/primer/movtest
os/primer/loop
os/primer/jgetest
os/primer/func
os/primer/float
os/primer/data
os/primer/cfun
os/linux/linux-0.00
os/linux/linux-0.00/*